<div class="navbar-fixed">
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Buy</a></li>
        <li><a href="#">Sell</a></li>
        <li><a href="#">Donate</a></li>
        <%= render 'partials/devise' %>
      </ul>
    </div>
  </nav>
</div>
