<div class="row-donate">

     <div class="col s4">
       sas;dlds;
       <!-- Promo Content 1 goes here -->
     </div>
     <div class="col s4">
       kdsdlsakkda
       <!--dwkldsm,adsl Promo Content 2 goes here -->
     </div>
     <div class="col s4">
       dadadkaskl
       <!-- Promo Content 3 goes here -->
     </div>

   </div>
