<body class="hello">
<div class="jumbotron-container">
	<h1>people vs poverty</h1>
  </div>
</div>
</body>
<div class="center-btn">
	<% if !user_signed_in? %>
<a href="/users/sign_up" class="waves-effect waves-default red lighten-1 btn-large">Sign up</a>
<% else %>
<% end %>
</div>
