/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize";

.hello {

 background-image: url("https://static.pexels.com/photos/310435/pexels-photo-310435.jpeg");
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-color:#464646;
}
/* JUMBOTRON */

.jumbotron-container h1 {
padding-top: 470px;
padding-left: 15px;
font-family: 'Roboto', sans-serif;
font-weight: 100;
margin: 0px;
text-align: center;
font-size: 100px;
letter-spacing: 30px;
color: #EE6E73;
}

.card {
  text-align: center;
  justify-content: center;
  display: inline-grid;
  margin-left: 130px;
  height: 350px;
  width: 300px;
}

.card-image {
  height: 300px;
  width: 300px;
}

.post-index {
  background-color: #8CDCDE;
}

.post-index h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100px;
  text-align: center;
  font-size: 80px;
  color: #000;
}

.field label{
  font-size: 16px;
}

.field-container {
  background-color: white;
  margin-left: 400px;
  margin-right: 400px;
}

.field-container h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 100px;
  text-align: center;
  font-size: 80px;
  color: #000;
}

.center-btn {
  text-align: center;
  padding-top: 20px;
}
